<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/applogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/applogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AyyapaTelugu"
        tools:targetApi="31">
        <activity
            android:name=".Activity.AyyaappaDevlyaluActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.DevlyaluActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBFF-2pTBlXSj8AhJPOKduLVPvkpm2TnEs" />

        <activity
            android:name=".Activity.AnadanamActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.CalenderActivity"
            android:exported="false" />
        <activity
            android:name=".User.ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".User.VerifyActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AyyappaBooksDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AyyapaBooksListActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AyyappaTourseActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AyyappaTourseDetailsACtivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AyyapaPetamDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AyyappaPetamListActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AyyapaMandaliDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.GuruSwamiDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AyyapaKarmaDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AyyappaKaryamListActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AyyappaMandaliListActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.GuruSwamiListActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".User.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".User.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".User.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>